html,body{
	width: 100%;
	height: 100%;
	background: #F7F7F7;
	margin: 0;
}
header{
	width: 7.5rem;
	height: 1.85rem;
	background-image: url(../img/xx-img/xx-person01.png);
	background-size: 100%;
	margin-bottom: .38rem;
}
header > a{
	width: .77rem;
	height: .74rem;
	display: block;
	background-image: url(../img/xx-img/xx-login02.png);
	background-size: 100%;
}
h2{
	font-size: .36rem;
	color: #FFFFFF;
	margin: .06rem .26rem;
}
h4{
	font-size: .22rem;
	color: #FFFFFF;
	margin: 0 .26rem;
	font-family: "苹方";
}
section{
	width: 7.5rem;
	height: 1.1rem;
	background-image: url(../img/xx-img/xx-person02.png);
	background-size: 100%;
	overflow: hidden;
}
.card{
	width: 4rem;
	height: 100%;
	float: left;
}
.card > p{
	margin: .2rem  0 .04rem 1rem;
	font-size: .26rem;
	color: #343846;
	font-family: "苹方";
	font-weight: 600;
}
.card > p + h3{
	font-size: .22rem;
	color: #a3a3a3;
	font-weight: 600;
	font-family: "苹方";
	margin-left: 1rem;
}
.card + a{
	display: block;
	width: .5rem;
	height: .5rem;
	border-radius: 50%;
	margin: .32rem 0 0 2.4rem;
	/*background: #0000FF;*/
	float: left;
}
.footer{
	display: block;
	width: 5.63rem;
	height: .9rem;
	margin: 5.2rem auto 0 auto;
	background-image: url(../img/xx-img/xx-person03.png);
	background-size: 100%;
	overflow: hidden;
}
.display{
	width:200px;
	height:50px;
	position: absolute;
	top:240px;
	left:50%;
	margin-left:-100px;
	background: #00a2d4;
	border-radius: 10px;
	z-index: 100;
	text-align: center;
	line-height: 50px;
	color:#fff;
	display: none;
}
.footer > p{
	text-align: center;
	font-size: .24rem;
	color: #FFFFFF;
	font-family: "苹方";
	margin-top: .1rem;
	font-weight: 900;
}
.footer > h5{
	text-align: center;
	font-size: .16rem;
	color: #fefefe;
}
