<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{$smarty.const.CSS_PATH}/bootstrap.min.css">
    <script src="{$smarty.const.JS_PATH}/jquery.js"></script>
    <script src="{$smarty.const.JS_PATH}/jquery.validate.js"></script>
</head>
<body>
<style>
    form{
        margin-top:20px;
        padding:10px;
        box-sizing: border-box;
    }
</style>
<form method="post" action="index.php?m=admin&f=addRole&a=addroles" id="form">
    <div class="form-group">
        <label for="exampleInputEmail1">角色名称</label>
        <input type="text" class="form-control" name="rname" id="exampleInput" placeholder="角色名称">
    </div>
    <button type="submit" class="btn btn-default">创建</button>
</form>

</body>
<script>
    $("#form").validate({
        rules:{
            rname:{
                required:true,
            },
            remote:{
                url:"index.php?m=admin&f=addRole&a=checkRoles",
                data:{
                    rname:function () {
                        return $("#exampleInput").val();
                    }
                }
            }
        },
        message:{
            rname:{
                required:"必须填写",
                remote:"已有用户名",
            },
        },

    })
</script>
</html>