<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商铺管理页面</title>
    <link rel="stylesheet" href="{$smarty.const.CSS_PATH}/bootstrap.min.css">
    <script src="{$smarty.const.JS_PATH}/jquery.js"></script>
    <script src="{$smarty.const.JS_PATH}/uploadimg.js"></script>
</head>
<body>
商铺状态（是否开业／是否通过审核／）商铺名（不允许修改） 商铺标语 商铺密码 店铺地址（不允许修改）
店铺缩略图 商铺规则（多少钱起送，满多少减多少）
商铺评价表
<br>
店铺商品分类管理（添加分类／删除分类）／分类下的商品管理（商品缩略图／价格／名称／交易量／*收藏量*）
<form method="post" action="index.php?m=admin&f=shop&a=update">
    <div class="form-group">
        <label for="disabledTextInput">商铺名</label>
        <input type="text" id="shopName" class="form-control" disabled value="{$info['sname']}">
        <label for="disabledTextInput">缩略图</label>
        <img src="{$info['simg']}" class="img" alt="">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">审核状态</label>
        <input type="text" class="form-control" disabled value="{if ($info['state']==0)}
        未审核{else if ($info['state']==1)}审核中{else if ($info['state']==2)}通过
        {/if}">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">商铺标语</label>
        <input type="text" class="form-control" value="{$info['snotes']}" name="snotes">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">商铺地址</label>
        <input type="text" class="form-control"  value="{$info['saddress']}" name="saddress">
    </div>
    <div class="form-group" id="change">

        <input type="hidden" class="inputImg" name="simg" value="1">
        <input type="hidden" name="rid" value="{$rid}">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<label for="exampleInputPassword1">修改缩略图</label>
</body>
<style>
    .img{
        width:100px;
    }
    #shopName{
        width:20%;
        display: inline-block;
    }
</style>
<script>
    window.onload=function () {
        let obj=new upload_1();
        obj.url="upload.php";
        obj.success=function (url) {
            document.querySelector(".inputImg").value=url;
        };
        obj.createView();
    }
</script>
</html>