<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{$smarty.const.CSS_PATH}/admin/main.css">
    <script src="{$smarty.const.JS_PATH}/jquery.js"></script>
</head>
<body>

<section id="title">
    <h1>后台管理系统</h1>
    <p><span><a href="index.php?m=index&f=index" style="color: #ffffff;">进入主页 </a> </span> 欢迎{$user}<a href="index.php?m=admin&f=login&a=out">退出登录</a></p>
</section>
<section id="main">
    <ul id="box">
        {if $rid==1}
        <li>
            <a href="index.php?m=admin&f=addRole&a=applist" target="window" style="color: #ccc;">App分类管理</a>
        </li>
        <li>
            <span>角色管理</span>
            <ul >
                <li>
                    <a href="index.php?m=admin&f=addRole" target="window">管理角色</a>
                </li>
                <li>
                    <a href="index.php?m=admin&f=addRole&a=add" target="window">添加角色</a>
                </li>
            </ul>
        </li>
        <li>
            <span>店铺总管理</span>
            <ul>
                <li>
                    <a href="index.php?m=admin&f=shop&a=showShop" target="window">店铺情况</a>
                </li>
                <li>
                    <a href="index.php?m=admin&f=shop&a=adminShop" target="window">管理店铺</a>
                </li>
            </ul>
        </li>

        {else}
        <li>
            <span>店铺管理</span>
            <ul>
                <li>
                    <a href="index.php?m=admin&f=shop&a=addShop" target="window">添加店铺</a>
                </li>
                <li>
                    <a href="index.php?m=admin&f=shop&a=adminShop" target="window">管理店铺</a>
                </li>
            </ul>
        </li>
        {/if}
        <li>
            <span>商品管理</span>
            <ul>
                <li><a href="index.php?m=admin&f=commodity" target="window">添加商品</a></li>
                <li><a href="index.php?m=admin&f=commodity&a=admin" target="window">管理商品</a></li>
            </ul>
        </li>
        <li>
            <span>用户管理</span>
            <ul>
                <li>
                    <a href="" target="window">留言管理</a>
                </li>
                <li>
                    <a href="" target="window">用户管理</a>
                </li>

            </ul>
        </li>
    </ul>

    <iframe src="" frameborder="0" name="window">

    </iframe>
</section>
</body>
<script>
    $('#box >li >span').click(function () {
        $(this).next('ul').slideToggle('fast');
    })
</script>
</body>
</html>