<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <script src="../../static/js/common.js"></script>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/swiper.js"></script>
    <script src="../../static/js/iscroll.js"></script>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/swiper.min.css">
    <link rel="stylesheet" href="../../static/css/qyh-index.css">
</head>
<script type="text/javascript">
    $(function(){
        var myScroll = new IScroll('#qyh-wrapper', {
            bounceEasing: 'elastic',
            bounceTime: 1200 ,
            mouseWheel:true,
            scrollbars:false,
        });
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflow: {
                rotate: 0,
                stretch: -20,
                depth: 200,
                modifier: 1,
                slideShadows : false
            }
        });
    })


</script>


<body>
<header>
    <img src="../../static/img/qyh-img/q-2_01.png" alt="" id="q-1">

    <div class="q-search">
        <input type="text" placeholder="SEARCH THE···" name="">
        <img src="../../static/img/qyh-img/q-hua.png" alt="">
    </div>
    <img src="../../static/img/qyh-img/q-er.png" alt="" id="q-2">
    <img src="../../static/img/qyh-img/q-yun.png" alt="" id="q-3">
</header>
<div id="qyh-wrapper">
    <div id="scroller">
        <nav>
            <a href="">
                <img src="../../static/img/qyh-img/q-3_03.png" alt="">
                <p>生态·餐厅</p>
                <p>ECOLOGLCAL</p>
            </a>
            <a href="">
                <img src="../../static/img/qyh-img/q-3_03.png" alt="">
                <p>生态·餐厅</p>
                <p>ECOLOGLCAL</p>
            </a>
            <a href="">
                <img src="../../static/img/qyh-img/q-3_03.png" alt="">
                <p>生态·餐厅</p>
                <p>ECOLOGLCAL</p>
            </a>
            <a href="">
                <img src="../../static/img/qyh-img/q-3_03.png" alt="">
                <p>生态·餐厅</p>
                <p>ECOLOGLCAL</p>
            </a>
            <a href="">
                <img src="../../static/img/qyh-img/q-3_03.png" alt="">
                <p>生态·餐厅</p>
                <p>ECOLOGLCAL</p>
            </a>
            <a href="">
                <img src="../../static/img/qyh-img/q-3_03.png" alt="">
                <p>生态·餐厅</p>
                <p>ECOLOGLCAL</p>
            </a>
            <div class="q-point"></div>
            <div class="q-point"></div>
        </nav>
        <div class="q-banner">
            <div class="q-zhao"></div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../static/img/qyh-img/q-1.png" alt="">
                        <div class="mess">
                            <img src="../../static/img/qyh-img/q-5.png" alt="">
                            <div class="right">
                                <div class="q-p">
                                    <span>PAVORITE</span><span>RESTAURANT</span>
                                    <img src="../../static/img/qyh-img/q-huo.png" alt="">
                                    <div class="star">
                                        <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                        <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                        <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                        <img src="../../static/img/qyh-img/q-huixin.png" alt="">
                                        <img src="../../static/img/qyh-img/q-huixin.png" alt="">
                                    </div>
                                </div>
                                <div class="q-time">
                                    <img src="../../static/img/qyh-img/q-time.png" alt="">
                                    <span>2017  3.15</span><span>It's a delicious place to be</span>

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../static/img/qyh-img/q-1.png" alt="">
                        <div class="mess">
                            <img src="../../static/img/qyh-img/q-5.png" alt="">
                            <div class="right">
                                <div class="q-p">
                                    <span>PAVORITE</span><span>RESTAURANT</span>
                                    <img src="../../static/img/qyh-img/q-huo.png" alt="">
                                    <div class="star">
                                        <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                        <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                        <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                        <img src="../../static/img/qyh-img/q-huixin.png" alt="">
                                        <img src="../../static/img/qyh-img/q-huixin.png" alt="">
                                    </div>
                                </div>
                                <div class="q-time">
                                    <img src="../../static/img/qyh-img/q-time.png" alt="">
                                    <span>2017  3.15</span><span>It's a delicious place to be</span>

                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../static/img/qyh-img/q-1.png" alt="">
                        <div class="mess">
                            <img src="../../static/img/qyh-img/q-5.png" alt="">
                            <div class="right">
                                <div class="q-p">
                                    <span>PAVORITE</span><span>RESTAURANT</span>
                                    <img src="../../static/img/qyh-img/q-huo.png" alt="">
                                    <div class="star">
                                        <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                        <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                        <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                        <img src="../../static/img/qyh-img/q-huixin.png" alt="">
                                        <img src="../../static/img/qyh-img/q-huixin.png" alt="">
                                    </div>
                                </div>
                                <div class="q-time">
                                    <img src="../../static/img/qyh-img/q-time.png" alt="">
                                    <span>2017  3.15</span><span>It's a delicious place to be</span>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-like">
            <div class="img">
                <!--<img src="../../static/img/qyh-img/q-xin.png" alt="">-->
                <div class="q-gg"></div>
                <div class="q-dian"></div>
                <p>猜你喜欢</p>
                <p>THE CURRENY POPULAR</p>
                <div class="q-dian"></div>
                <div class="q-gg"></div>
            </div>
            <ul>
                <li>
                    <div class="q-back"></div>
                    <a href="">
                        <img src="../../static/img/qyh-img/q-shi.png" alt="">
                    </a>
                    <div class="dian dian1"></div>
                    <div class="dian dian2"></div>
                    <div class="q-shi">
                        <div class="q-rgb">
                            <p>￥58</p>
                        </div>
                        <div class="q-page">
                            <p class="title">营养美食汇</p>
                            <img src="../../static/img/qyh-img/q-huo.png" alt="" class="q-huo">
                            <p class="etitle">NUTRITION CUISINE</p>
                            <div class="star">
                                <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                            </div>
                            <img src="../../static/img/qyh-img/q-zan.png" alt="" class="q-zan">
                            <div class="q-bianqian">
                                <span> 会吃专送</span>
                                <span> 新店</span>
                            </div>
                            <DIV class="q-name">
                                <div class="left">
                                    <div class="q-img" style="background-image: url('../../static/img/qyh-img/q-shi1.png');"></div>
                                    <span>北京朝阳</span>
                                    <span>BEIJING ZHAOYANG</span>
                                </div>
                                <div class="right">
                                    <img src="../../static/img/qyh-img/q-shi1.png" alt="">
                                    <img src="../../static/img/qyh-img/q-shi1.png" alt="">
                                    <img src="../../static/img/qyh-img/q-shi1.png" alt="">
                                    <img src="../../static/img/qyh-img/q-shi1.png" alt="">
                                    <img src="../../static/img/qyh-img/q-shi1.png" alt="">
                                </div>

                            </DIV>
                            <img src="../../static/img/qyh-img/q-di.png" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="q-back"></div>
                    <a href="">
                        <img src="../../static/img/qyh-img/q-shi.png" alt="">
                    </a>
                    <div class="dian dian1"></div>
                    <div class="dian dian2"></div>
                    <div class="q-shi">
                        <div class="q-rgb">
                            <p>￥58</p>
                        </div>
                        <div class="q-page">
                            <p class="title">营养美食汇</p>
                            <img src="../../static/img/qyh-img/q-huo.png" alt="" class="q-huo">
                            <p class="etitle">NUTRITION CUISINE</p>
                            <div class="star">
                                <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                            </div>
                            <img src="../../static/img/qyh-img/q-zan.png" alt="" class="q-zan">
                            <div class="q-bianqian">
                                <span> 会吃专送</span>
                                <span> 新店</span>
                            </div>
                            <DIV class="q-name">
                                <div class="left">
                                    <div class="q-img" style="background-image: url('../../static/img/qyh-img/q-shi1.png');"></div>
                                    <span>北京朝阳</span>
                                    <span>BEIJING ZHAOYANG</span>
                                </div>
                                <div class="right">
                                    <img src="../../static/img/qyh-img/q-shi1.png" alt="">
                                    <img src="../../static/img/qyh-img/q-shi1.png" alt="">
                                    <img src="../../static/img/qyh-img/q-shi1.png" alt="">
                                    <img src="../../static/img/qyh-img/q-shi1.png" alt="">
                                    <img src="../../static/img/qyh-img/q-shi1.png" alt="">
                                </div>

                            </DIV>
                            <img src="../../static/img/qyh-img/q-di.png" alt="">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="q-xin">
            <div class="img">
                <!--<img src="../../static/img/qyh-img/q-xin.png" alt="">-->
                <div class="q-gg"></div>
                <div class="q-dian"></div>
                <p>新品推荐</p>
                <p>THE CURRENY POPULAR</p>
                <div class="q-dian"></div>
                <div class="q-gg"></div>
            </div>
            <ul>
                <li>
                    <a href="">
                        <div class="q-con">
                            <img src="../../static/img/qyh-img/q-hot.png" alt="">
                            <!--<div class="q-time"></div>-->
                            <div class="q-img">
                                <!--<img src="../../static/img/qyh-img/" alt="">-->

                                <div></div>
                            </div>
                            <div class="right">
                                <p class="q-title">
                                    <img src="../../static/img/qyh-img/q-huo.png" alt="">
                                    <span>烛光晚餐线上预订</span>
                                    <img src="../../static/img/qyh-img/q-huo.png" alt="">
                                </p>
                                <p class="q-yu">已有126人预订</p>
                                <div class="q-star">
                                    <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                    <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                    <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                    <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                    <img src="../../static/img/qyh-img/q-huixin.png" alt="">
                                </div>
                                <div class="q-con">
                                    烛光晚餐餐厅是情侣休闲愉悦必备场所…
                                </div>
                            </div>

                            <div class="q-per">￥200起</div>
                        </div>
                        <div class="q-di">
                            <div>
                                <img src="../../static/img/qyh-img/q-taoxin.png" alt="">
                                <span>315</span>
                            </div>
                            <div>
                                <img src="../../static/img/qyh-img/q-time.png" alt="">
                                <span>18:00PM-23:00PM</span>
                            </div>
                            <div>
                                <img src="../../static/img/qyh-img/q-ress.png" alt="">
                                <span>朝阳街凯蒂诺A10号</span>
                            </div>
                        </div>

                    </a>

                </li>
                <li>
                    <a href="">
                        <div class="q-con">
                            <img src="../../static/img/qyh-img/q-hot.png" alt="">
                            <!--<div class="q-time"></div>-->
                            <div class="q-img">
                                <!--<img src="../../static/img/qyh-img/" alt="">-->

                                <div></div>
                            </div>
                            <div class="right">
                                <p class="q-title">
                                    <img src="../../static/img/qyh-img/q-huo.png" alt="">
                                    <span>烛光晚餐线上预订</span>
                                    <img src="../../static/img/qyh-img/q-huo.png" alt="">
                                </p>
                                <p class="q-yu">已有126人预订</p>
                                <div class="q-star">
                                    <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                    <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                    <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                    <img src="../../static/img/qyh-img/q-hongxin.png" alt="">
                                    <img src="../../static/img/qyh-img/q-huixin.png" alt="">
                                </div>
                                <div class="q-con">
                                    烛光晚餐餐厅是情侣休闲愉悦必备场所…
                                </div>
                            </div>

                            <div class="q-per">￥200起</div>
                        </div>
                        <div class="q-di">
                            <div>
                                <img src="../../static/img/qyh-img/q-taoxin.png" alt="">
                                <span>315</span>
                            </div>
                            <div>
                                <img src="../../static/img/qyh-img/q-time.png" alt="">
                                <span>18:00PM-23:00PM</span>
                            </div>
                            <div>
                                <img src="../../static/img/qyh-img/q-ress.png" alt="">
                                <span>朝阳街凯蒂诺A10号</span>
                            </div>
                        </div>

                    </a>

                </li>
            </ul>
        </div>


    </div>
</div>
<footer>
    <a href="">
        <img src="../../static/img/qyh-img/q-guan.png" alt="">
        <p>推荐</p>
    </a>
    <div></div>
    <a href="">
        <img src="../../static/img/qyh-img/q-eye.png" alt="">
        <p>同步</p>
    </a>
    <div></div>
    <a href="">
        <img src="../../static/img/qyh-img/q-order.png" alt="">
        <p>订单</p>
    </a>
    <div></div>
    <a href="">
        <img src="../../static/img/qyh-img/q-geren.png" alt="">
        <p>我的</p>
    </a>
</footer>
</body>
</html>