<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <script src="{JS_PATH}/common.js"></script>
    <script src="{JS_PATH}/jquery.js"></script>
    <script src="{JS_PATH}/swiper.js"></script>
    <script src="{JS_PATH}/iscroll.js"></script>
    <link rel="stylesheet" href="{CSS_PATH}/common.css">
    <link rel="stylesheet" href="{CSS_PATH}/swiper.min.css">
    <link rel="stylesheet" href="{CSS_PATH}/qyh-index.css">
</head>
<script type="text/javascript">
    $(function(){
        var myScroll = new IScroll('#qyh-wrapper', {
            bounceEasing: 'elastic',
            bounceTime: 1200 ,
            mouseWheel:true,
            scrollbars:false,
            click : true,
        });
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            autoplay : 3000,
            coverflow: {
                rotate: 0,
                stretch: -20,
                depth: 200,
                modifier: 1,
                slideShadows : false
            }
        });
    })


</script>


<body>
<header>
    <img src="{IMG_PATH}/qyh-img/q-2_01.png" alt="" id="q-1">

    <div class="q-search">
        <input type="text" placeholder="SEARCH THE···" name="">
        <img src="{IMG_PATH}/qyh-img/q-hua.png" alt="">
    </div>
    <img src="{IMG_PATH}/qyh-img/q-er.png" alt="" id="q-2">
    <img src="{IMG_PATH}/qyh-img/q-yun.png" alt="" id="q-3">
</header>
<div id="qyh-wrapper">
    <div id="scroller">
        <nav>
            {foreach $result as $v}
            <a href="index.php?m=index&f=index&a=lists&sid={$v['lid']}">
            <img src="{$v['limg']}" alt="">
            <p>{$v['lname']}</p>
            <p>{$v['lename']}</p>
            </a>
            {/foreach}
            <div class="q-point"></div>
            <div class="q-point"></div>
        </nav>
        <div class="q-banner">
            <div class="q-zhao"></div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {foreach $lunbo as $v}
                    <div class="swiper-slide">
                        <a href="index.php?m=index&sid={$v['sid']}">
                            <img src="{$v['simg']}" alt="">
                        </a>
                        <div class="mess">
                            <img src="{IMG_PATH}/qyh-img/q-5.png" alt="">
                            <div class="right">
                                <div class="q-p">
                                    <span>{$v['sname']}</span><span>{$v['sename']}</span>
                                    <img src="{IMG_PATH}/qyh-img/q-huo.png" alt="">
                                    <div class="star">
                                        <img src="{IMG_PATH}/qyh-img/q-hongxin.png" alt="">
                                        <img src="{IMG_PATH}/qyh-img/q-hongxin.png" alt="">
                                        <img src="{IMG_PATH}/qyh-img/q-hongxin.png" alt="">
                                        <img src="{IMG_PATH}/qyh-img/q-huixin.png" alt="">
                                        <img src="{IMG_PATH}/qyh-img/q-huixin.png" alt="">
                                    </div>
                                </div>
                                <div class="q-time">
                                    <img src="{IMG_PATH}/qyh-img/q-time.png" alt="">
                                    <span>{$v['stime']}</span><span>{$v['senotes']}</span>

                                </div>
                            </div>


                        </div>
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="q-like">
            <div class="img">
                <div class="q-gg"></div>
                <div class="q-dian"></div>
                <p>猜你喜欢</p>
                <p>THE CURRENY POPULAR</p>
                <div class="q-dian"></div>
                <div class="q-gg"></div>
            </div>
            <ul>


                {foreach $like as $v}
                {foreach $shop as $val}
                {if $v['sid'] eq $val['sid']}
                <li>
                    <div class="q-back"></div>
                    <a href="index.php?coid={$v['coid']}">
                        <img src="{$v['coimg']}" alt="">
                    </a>
                    <div class="dian dian1"></div>
                    <div class="dian dian2"></div>
                    <div class="q-shi">
                        <div class="q-rgb">
                            <p>￥{$v['coprice']}</p>
                        </div>
                        <div class="q-page">
                            <p class="title">{$v['coname']}</p>
                            <img src="{IMG_PATH}/qyh-img/q-huo.png" alt="" class="q-huo">
                            <p class="etitle">{$v['coename']}</p>
                            <div class="star">
                                <img src="{IMG_PATH}/qyh-img/q-hongxin.png" alt="">
                                <img src="{IMG_PATH}/qyh-img/q-hongxin.png" alt="">
                                <img src="{IMG_PATH}/qyh-img/q-hongxin.png" alt="">
                                <img src="{IMG_PATH}/qyh-img/q-hongxin.png" alt="">
                                <img src="{IMG_PATH}/qyh-img/q-hongxin.png" alt="">
                            </div>
                            <img src="{IMG_PATH}/qyh-img/q-zan.png" alt="" class="q-zan">
                            <div class="q-bianqian">
                                <span> 会吃专送</span>
                                <span> 新店</span>
                            </div>
                            <DIV class="q-name">
                                <div class="left">
                                    <!--<div class="q-img" style="background-image: url('{IMG_PATH}/qyh-img/q-shi1.png');"></div>-->
                                    <span>{$val['sname']}</span>
                                    <span>{$val['sename']}</span>
                                </div>
                                <div class="right">
                                    <img src="{IMG_PATH}/qyh-img/q-shi1.png" alt="">
                                    <img src="{IMG_PATH}/qyh-img/q-shi1.png" alt="">
                                    <img src="{IMG_PATH}/qyh-img/q-shi1.png" alt="">
                                    <img src="{IMG_PATH}/qyh-img/q-shi1.png" alt="">
                                    <img src="{IMG_PATH}/qyh-img/q-shi1.png" alt="">
                                </div>

                            </DIV>
                            <img src="{IMG_PATH}/qyh-img/q-di.png" alt="">
                        </div>
                    </div>
                </li>
                {/if}
                {/foreach}
                {/foreach}
            </ul>
        </div>
        <div class="q-xin">
            <div class="img">
                <!--<img src="{IMG_PATH}/qyh-img/q-xin.png" alt="">-->
                <div class="q-gg"></div>
                <div class="q-dian"></div>
                <p>新品推荐</p>
                <p>THE CURRENY POPULAR</p>
                <div class="q-dian"></div>
                <div class="q-gg"></div>
            </div>
            <ul>
                {foreach $new as $v}
                {foreach $shop as $val}
                {if $v['sid'] eq $val['sid']}
                <li>
                    <a href="">
                        <div class="q-con">
                            <img src="{IMG_PATH}/qyh-img/q-hot.png" alt="">
                            <!--<div class="q-time"></div>-->
                            <div class="q-img">
                                <img src="{$v['coimg']}" alt="">

                                <div></div>
                            </div>
                            <div class="right">
                                <p class="q-title">
                                    <img src="{IMG_PATH}/qyh-img/q-huo.png" alt="">
                                    <span>{$v['coname']}</span>
                                    <img src="{IMG_PATH}/qyh-img/q-huo.png" alt="">
                                </p>
                                <p class="q-yu">已有126人预订</p>
                                <div class="q-star">
                                    <img src="{IMG_PATH}/qyh-img/q-hongxin.png" alt="">
                                    <img src="{IMG_PATH}/qyh-img/q-hongxin.png" alt="">
                                    <img src="{IMG_PATH}/qyh-img/q-hongxin.png" alt="">
                                    <img src="{IMG_PATH}/qyh-img/q-hongxin.png" alt="">
                                    <img src="{IMG_PATH}/qyh-img/q-huixin.png" alt="">
                                </div>
                                <div class="q-con">
                                    {$v['conote']}…
                                </div>
                            </div>

                            <div class="q-per">￥{$v['coprice']}起</div>
                        </div>
                        <div class="q-di">
                            <div>
                                <img src="{IMG_PATH}/qyh-img/q-taoxin.png" alt="">
                                <span>315</span>
                            </div>
                            <div>
                                <img src="{IMG_PATH}/qyh-img/q-time.png" alt="">
                                <span>18:00PM-23:00PM</span>
                            </div>
                            <div>
                                <img src="{IMG_PATH}/qyh-img/q-ress.png" alt="">
                                <span>{$val['saddress']}</span>
                            </div>
                        </div>

                    </a>

                </li>
                {/if}
                {/foreach}
                {/foreach}
            </ul>
        </div>


    </div>
</div>
<footer>
    <a href="index.php">
        <img src="{IMG_PATH}/qyh-img/q-guan.png" alt="">
        <p>推荐</p>
    </a>
    <div></div>
    <a href="">
        <img src="{IMG_PATH}/qyh-img/q-eye.png" alt="">
        <p>同步</p>
    </a>
    <div></div>
    <a href="">
        <img src="{IMG_PATH}/qyh-img/q-order.png" alt="">
        <p>订单</p>
    </a>
    <div></div>
    <a href="index.php?m=index&f=qperson&a=person">
        <img src="{IMG_PATH}/qyh-img/q-geren.png" alt="">
        <p>我的</p>
    </a>
</footer>
</body>
</html>