<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="x5-orientation" content="portrait | landscape" />
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-fullscreen" content="true" />
	<meta name="full-screen" content="yes">
	<meta name="format-detection" content="telephone=no, email=no" />
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/xx-login.css"/>
	<script src="../../static/js/rem.js"></script>
	<script src="../../static/js/jquery.js"></script>
	<script src="../../static/js/xx-login.js"></script>
	<body>
		<header>
			<div class="begin">
				<a href=""></a>
				<a href=""></a>
			</div>
			<img src="../../static/img/xx-img/xx-login04.png"/>
			<p>Jim.Green</p>
			<h3>this better  be beautiful</h3>
			<h4>美 x 食 x 汇</h4>
			<div class="logn">
				<img src="../../static/img/xx-img/xx-login05.png"/>
				<img src="../../static/img/xx-img/xx-login06.png" alt="" />
			</div>
			<form class="number" id="infos">
				<p>Username</p>
				<input type="text" placeholder="您可以输入邮箱，手机号码作为登录名" />
			</form>
		</header>
		<section class="find">
			<div></div>
			<p>find passwold</p>
			<img src="../../static/img/xx-img/xx-login11.png"/>
		</section>
		<section class="login loginone">
			<p>立即登陆</p>
			<p>login immediately</p>
		</section>
		<section class="login logintwo">
			<p>立即登陆</p>
			<p>login immediately</p>
		</section>
		<section class="outside">
			<img src="../../static/img/xx-img/xx-login07.png"/>
			<img src="../../static/img/xx-img/xx-login09.png"/>
		</section>
	</body>
</html>
