<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="x5-orientation" content="portrait | landscape" />
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-fullscreen" content="true" />
	<meta name="full-screen" content="yes">
	<meta name="format-detection" content="telephone=no, email=no" />
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}/common.css"/>
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}/xx-person.css"/>
	<script src="{JS_PATH}/rem.js"></script>
	<script src="{JS_PATH}/jquery.js"></script>
	<body>
		<header>
			<a onclick="history.go(-1)"></a>
			<h2>Enjoy the food</h2>
			<h4>享受美食</h4>
		</header>
		<section>
			<div class="card">
				<p>个人名片</p>
				<h3>修改你的个人名片信息</h3>
			</div>
			<a href=""></a>
		</section>
		<section>
			<div class="card">
				<p>收货地址</p>
				<h3>填写你的收获地址</h3>
			</div>
			<a href=""></a>
		</section>
		<section>
			<div class="card">
				<p>通用</p>
				<h3>设置你的通用信息</h3>
			</div>
			<a href=""></a>
		</section>
		<a href="javascript:;" class="footer">
			<p>退出登录</p>
			<h5>Exitloginaccount</h5>
		</a>
	<div class="display"></div>
	</body>
</html>
<script>
    $(".footer").on('touchstart',function(){
        $.ajax({
            url:"index.php?m=index&f=qperson&a=logoutCon",
            success:function(e){
                console.log(e)
                if(e=="ok"){
                    $(".display").html('退出成功').css("display", "block");
                    setTimeout(function () {
                        $(".display").css("display", "none");
                        location.href="index.php";
                    }, 1500)
                }
            }
        })
    })
</script>
