<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="x5-orientation" content="portrait | landscape" />
	<meta name="screen-orientation" content="portrait">
	<meta name="x5-fullscreen" content="true" />
	<meta name="full-screen" content="yes">
	<meta name="format-detection" content="telephone=no, email=no" />
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}/common.css"/>
	<link rel="stylesheet" type="text/css" href="{CSS_PATH}/xx-signin.css"/>
	<script src="{JS_PATH}/rem.js"></script>
	<script src="{JS_PATH}/jquery.js"></script>	
	<script src="{JS_PATH}/jquery.validate.js"></script>
	<script src="{JS_PATH}/xx-signin.js"></script>
	<script src="{JS_PATH}/xx-signins.js"></script>
	<body>
		<header>
			<a href="index.php?m=index&f=login&a=log"></a>
			<img src="{IMG_PATH}/xx-img/xx-signin01.png"/>
			<div>
				<span>美食汇</span>
				<div></div>
				<span>欢迎您的加入</span>				
			</div>
			<img src="{IMG_PATH}/xx-img/xx-signin02.png"/>
			<h2>
				WELCOME TO food
			</h2>
			<h4>sometimes people have to cope with</h4>
			<h4>many mistakes</h4>
		</header>
		<form  id="infos">
			<input type="text" name="username" id="phonebtn" placeholder="设置您的用户名"/>
			<input type="text" name="nums" placeholder="填写您的手机号  后期无法修改"/>		
			<input type="text" name="ver" placeholder="填写验证码"/>				
			<input type="password" name="pass" placeholder="设置八位密码 包含英文和数字"/>
			<input type="password" name="pass" placeholder="再次输入密码"/>			
			<div class="user">
				<img src="{IMG_PATH}/xx-img/xx-signin04.png"/>
			</div>
			<div class="phone">
				<img src="{IMG_PATH}/xx-img/xx-signin05.png"/>
			</div>
			<div class="verfi">
				<img src="{IMG_PATH}/xx-img/xx-signin06.png"/>
			</div>
			<div class="pass">
				<img src="{IMG_PATH}/xx-img/xx-signin07.png"/>
			</div>
			<div class="again">
				<img src="{IMG_PATH}/xx-img/xx-signin07.png"/>
			</div>
			<label class="err">两次输入的密码不一致</label>
			<div class="submit">
				<p>下一步</p>
				<h4>Thenextstep</h4>
			</div>
		</form>
	</body>

</html>
