<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
	</head>
	<script src="../../static/js/common.js"></script>
	<script src="../../static/js/jquery.js"></script>
	<script src="../../static/js/zhc-shop.js"></script>
	<script src="../../static/js/iscroll.js"></script>
	<link rel="stylesheet" href="../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/zhc-shop.css"/>
	<body>
		<header>
			<div class="top">
				<a href="javascript:;"><img src="../../static/img/zhc-img/images/icon_03.png"></a>
				<a href="javascript:;"><img src="../../static/img/zhc-img/images/icon_05.png"></a>
			</div>
			<div class="bottom">
				<div class="hblt">
					<div class="back">
						<div><img src="../../static/img/zhc-img/images/shophead_10.png" alt="" /></div>
					</div>
				</div>
				<div class="hbgt">
					<p>北京营养美食汇店 长治路店</p>
					<div class="addrssbox">
						<img src="../../static/img/zhc-img/images/icon_10.png" alt="" />
						<div class="words">
							<div class="tiao"></div>
							<div class="english">ChangzhiBeijing foodandrestaurant</div>
						</div>
					</div>
					<div class="where">
						<div class="km">0.3km</div>
						<div class="time">46min</div>
						<div class="money">
							<span>20</span>
							<span>RMB</span>
						</div>
						<div class="song">起送</div>
					</div>
					<div class="starbox">
						<div class="stars">
							<img src="../../static/img/zhc-img/images/star_24.png" alt="" />
							<img src="../../static/img/zhc-img/images/star_24.png" alt="" />
							<img src="../../static/img/zhc-img/images/star_24.png" alt="" />
							<img src="../../static/img/zhc-img/images/star_24.png" alt="" />
							<img src="../../static/img/zhc-img/images/star_24.png" alt="" />
						</div>
						<div class="num">5.0</div>
					</div>
					<div class="minusbox">
						<div class="minus">减</div>
						<div class="p">满44元减1；满88减3；满188减6</div>
					</div>
				</div>
			</div>
		</header>
		<section class="zhc_mess">
			<div class="p_mess"><span>本店欢迎订餐 高峰期请提前两小时订餐 谢谢！</span></div>
			<div class="btn_box">
				<div class="btn_boxs">
					<button type="button" class="active">订餐</button>
					<button type="button">评价</button>
				</div>
			</div>
		</section>
		<main>
			<article class="dingdan block">
				<ul class="lt_list">
				<li class="active">最热</li>
				<li>最新</li>
				<li>新品</li>
				<li>推荐</li>
				<li>炒菜</li>
				<li>凉菜</li>
				<li>主食</li>
			</ul>
			<section class="container conblock">
				<ul class="gt_list">
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">Collocationoffood </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_18.png"/>
						</div>
						<div class="word_box">
							<div class="title">Collocationoffood </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_32.png"/>
						</div>
						<div class="word_box">
							<div class="title">火龙果沙龙荟萃 </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">Collocationoffood </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">Collocationoffood </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
				</ul>
			</section>
			<section class="container">
				<ul class="gt_list">
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">哈哈哈哈哈哈哈</div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_18.png"/>
						</div>
						<div class="word_box">
							<div class="title">Collocationoffood </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_32.png"/>
						</div>
						<div class="word_box">
							<div class="title">火龙果沙龙荟萃 </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">Collocationoffood </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">Collocationoffood </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
				</ul>
			</section>
			<section class="container">
				<ul class="gt_list">
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">哈哈哈哈哈哈哈</div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_18.png"/>
						</div>
						<div class="word_box">
							<div class="title">Collocationoffood </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_32.png"/>
						</div>
						<div class="word_box">
							<div class="title">火龙果沙龙荟萃 </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">Collocationoffood </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">Collocationoffood </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
				</ul>
			</section>
			<section class="container">
				<ul class="gt_list">
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">哈哈哈哈哈哈哈</div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_18.png"/>
						</div>
						<div class="word_box">
							<div class="title">Collocationoffood </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_32.png"/>
						</div>
						<div class="word_box">
							<div class="title">火龙果沙龙荟萃 </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">Noodleswithgra</div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">Noodleswithgra</div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
				</ul>
			</section>
			<section class="container">
				<ul class="gt_list">
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">Noodleswithgra</div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_18.png"/>
						</div>
						<div class="word_box">
							<div class="title">Noodleswithgra</div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_32.png"/>
						</div>
						<div class="word_box">
							<div class="title">火龙果沙龙荟萃 </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">优选汉堡美味 </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">优选汉堡美味 </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
				</ul>
			</section>
			<section class="container">
				<ul class="gt_list">
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">优选汉堡美味</div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_18.png"/>
						</div>
						<div class="word_box">
							<div class="title">优选汉堡美味</div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_32.png"/>
						</div>
						<div class="word_box">
							<div class="title">优选汉堡美味</div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">优选汉堡美味 </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">火龙果沙龙荟萃 </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
				</ul>
			</section>
			<section class="container">
				<ul class="gt_list">
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">火龙果沙龙荟萃 </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_18.png"/>
						</div>
						<div class="word_box">
							<div class="title">火龙果沙龙荟萃  </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_32.png"/>
						</div>
						<div class="word_box">
							<div class="title">火龙果沙龙荟萃 </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">Collocationoffood </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
					<li>
						<div class="img_box">
							<img src="../../static/img/zhc-img/images/food_14.png"/>
						</div>
						<div class="word_box">
							<div class="title">火龙果沙龙荟萃  </div>
							<div class="stars_box">
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
								<img src="../../static/img/zhc-img/images/stats_18.png"/>
							</div>
							<div class="tiaos"></div>
							<div class="money_box">
								<span>35.00</span>
								<span>RMB</span>
							</div>
							<div class="num">
								<img src="../../static/img/zhc-img/images/dot_25.png" alt="" />
								<span>366单</span>
							</div>
						</div>
						<img src="../../static/img/zhc-img/images/add_21.png" class="add" />
					</li>
				</ul>
			</section>
			</article>
			
			<article class="pingjia">
				<section class="containers">
					<ul>
						<li>
							<div class="lt_head">
								<a href="">
									<div class="lt_head_imgbox">
										<img src="../../static/img/zhc-img/images/pinlunhead_03.png" alt="" />
									</div>
								</a>
							</div>
							<div class="gt_word">
								<div class="gt_word_title">
									<span>ecological food</span>
									<img src="../../static/img/zhc-img/images/new_03.png" alt="" />
								</div>
								<div class="gt_word_p">这就是生活所以说愁眉苦脸的日子</div>
								<div class="tiaoss"></div>
								<div class="gt_btn">
									<div><img src="../../static/img/zhc-img/images/pinlun_10.png" alt="" /><span>333</span></div>
									<div><img src="../../static/img/zhc-img/images/pinlun_07.png" alt="" /><span>333</span></div>
								</div>
							</div>
						</li>
						<li>
							<div class="lt_head">
								<a href="">
									<div class="lt_head_imgbox">
										<img src="../../static/img/zhc-img/images/pinlunhead_03.png" alt="" />
									</div>
								</a>
							</div>
							<div class="gt_word">
								<div class="gt_word_title">
									<span>ecological food</span>
									<img src="../../static/img/zhc-img/images/new_03.png" alt="" />
								</div>
								<div class="gt_word_p">这就是生活所以说愁眉苦脸的日子</div>
								<div class="tiaoss"></div>
								<div class="gt_btn">
									<div><img src="../../static/img/zhc-img/images/pinlun_10.png" alt="" /><span>333</span></div>
									<div><img src="../../static/img/zhc-img/images/pinlun_07.png" alt="" /><span>333</span></div>
								</div>
							</div>
						</li>
						<li>
							<div class="lt_head">
								<a href="">
									<div class="lt_head_imgbox">
										<img src="../../static/img/zhc-img/images/pinlunhead_03.png" alt="" />
									</div>
								</a>
							</div>
							<div class="gt_word">
								<div class="gt_word_title">
									<span>ecological food</span>
									<img src="../../static/img/zhc-img/images/new_03.png" alt="" />
								</div>
								<div class="gt_word_p">这就是生活所以说愁眉苦脸的日子</div>
								<div class="tiaoss"></div>
								<div class="gt_btn">
									<div><img src="../../static/img/zhc-img/images/pinlun_10.png" alt="" /><span>333</span></div>
									<div><img src="../../static/img/zhc-img/images/pinlun_07.png" alt="" /><span>333</span></div>
								</div>
							</div>
						</li>
						<li>
							<div class="lt_head">
								<a href="">
									<div class="lt_head_imgbox">
										<img src="../../static/img/zhc-img/images/pinlunhead_03.png" alt="" />
									</div>
								</a>
							</div>
							<div class="gt_word">
								<div class="gt_word_title">
									<span>ecological food</span>
									<img src="../../static/img/zhc-img/images/new_03.png" alt="" />
								</div>
								<div class="gt_word_p">这就是生活所以说愁眉苦脸的日子</div>
								<div class="tiaoss"></div>
								<div class="gt_btn">
									<div><img src="../../static/img/zhc-img/images/pinlun_10.png" alt="" /><span>333</span></div>
									<div><img src="../../static/img/zhc-img/images/pinlun_07.png" alt="" /><span>333</span></div>
								</div>
							</div>
						</li>
						<li>
							<div class="lt_head">
								<a href="">
									<div class="lt_head_imgbox">
										<img src="../../static/img/zhc-img/images/pinlunhead_03.png" alt="" />
									</div>
								</a>
							</div>
							<div class="gt_word">
								<div class="gt_word_title">
									<span>ecological food</span>
									<img src="../../static/img/zhc-img/images/new_03.png" alt="" />
								</div>
								<div class="gt_word_p">这就是生活所以说愁眉苦脸的日子</div>
								<div class="tiaoss"></div>
								<div class="gt_btn">
									<div><img src="../../static/img/zhc-img/images/pinlun_10.png" alt="" /><span>333</span></div>
									<div><img src="../../static/img/zhc-img/images/pinlun_07.png" alt="" /><span>333</span></div>
								</div>
							</div>
						</li>
						<li>
							<div class="lt_head">
								<a href="">
									<div class="lt_head_imgbox">
										<img src="../../static/img/zhc-img/images/pinlunhead_03.png" alt="" />
									</div>
								</a>
							</div>
							<div class="gt_word">
								<div class="gt_word_title">
									<span>ecological food</span>
									<img src="../../static/img/zhc-img/images/new_03.png" alt="" />
								</div>
								<div class="gt_word_p">这就是生活所以说愁眉苦脸的日子</div>
								<div class="tiaoss"></div>
								<div class="gt_btn">
									<div><img src="../../static/img/zhc-img/images/pinlun_10.png" alt="" /><span>333</span></div>
									<div><img src="../../static/img/zhc-img/images/pinlun_07.png" alt="" /><span>333</span></div>
								</div>
							</div>
						</li>
					</ul>
				</section>
			</article>
		</main>
		<footer>
			<img src="../../static/img/zhc-img/images/shopcar_42.png" class="car"/>
			<div class="info">
				<div class="summon">
					<span>90.00</span>
					<span>RMB</span>
				</div>
				<div class="mess">另需
					<span>叁圆</span>
					配送费用
				</div>
			</div>
			<div class="btn">
				<a href="zhc-buy.html" style="display: block;width: 100%;height: 100%;">
					<img src="../../static/img/zhc-img/images/btn_46.png" alt="" />
				</a>
				
			</div>
		</footer>
		<script>
			window.onload=function(){

					myScroll = new IScroll('.container', {
			        mouseWheel: true,
			        scrollX:true,
			        shrinkScrollbars: 'scale',
			        fadeScrollbars: true,
			   });
			    
			    $('.lt_list li').on("touchend",function(){
			    	$(this).addClass("active").siblings().removeClass('active');
			    	$('.container').eq($(this).index()).addClass("conblock").siblings().removeClass("conblock")
			    	
						myScroll = new IScroll(".conblock", {
					        mouseWheel: true,
					        scrollX:true,
					        shrinkScrollbars: 'scale',
					        fadeScrollbars: true,
					    });
					
			    })
			    
			    
			    
			    
			    $(".btn_boxs button").on("touchend",function(){
					$(this).addClass("active").siblings().removeClass('active');
					$('main article').eq($(this).index()).addClass("block").siblings().removeClass("block")
					yourScroll = new IScroll('.containers', {
					        mouseWheel: true,
					        scrollX:true,
					        shrinkScrollbars: 'scale',
					        fadeScrollbars: true,
					    });
			})
			    
			    $("header .top a").first().on("touchend",function(){
			   		window.history.back();
			   })
			}
		</script>
	</body>
</html>
