<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
	</head>
	<script src="../../static/js/common.js"></script>
	<script src="../../static/js/jquery.js"></script>
	<link rel="stylesheet" href="../../static/css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/zhc-success.css"/>
	<body>
		<header>
			<img src="../../static/img/zhc-img/images/fitelbtn_02.png" alt="" />
		</header>
		<section class="success-back">
			<p>2675899029</p>
			<p>80</p>
		</section>
		<section class="success-btn"></section>
	</body>
</html>
<script>
	$("header img").first().on("touchend",function(){
   		window.history.back();
   })
</script>