<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>par</title>
	</head>
	<script src="../../static/js/common.js"></script>
	<script src="../../static/js/jquery.js"></script>
	<link rel="stylesheet" href="../../static/css/common.css" />
	<link rel="stylesheet" href="../../static/css/zhc-par.css" />
	<body>
		<header>
			<img src="../../static/img/qyh-img/q-back.png"/>
		</header>
		<main>
			<div class="zhifubox">
				<h3>第三方  支付筛选</h3>
				<p>DISANFANGZHIFUSHAIXUAN</p>
				<div class="select">
					<img src="../../static/img/zhc-img/images/vx_03.png" alt="" />
					<img src="../../static/img/zhc-img/images/vx_05.png" alt="" />
				</div>
				<div class="zhifutitle"></div>
				<div class="zflist">
					<a href="zhc-card.html" style="display: block; width: 100%;height: 100%;">
						<div class="zfhead">
							<img src="../../static/img/zhc-img/images/zfhead_14.png" alt="" />
						</div>
						<div class="zflist_word">
							<div>选择银行卡完成支付</div>
							<div>使用银行卡完成支付 <span>上次使用过招商银行卡</span></div>
						</div>
						<div class="zfnum">
							5
						</div>
					</a>
				</div>
				<div class="zflist">
					<div class="zfhead">
						<img src="../../static/img/zhc-img/images/zfa_14.png" alt="" />
					</div>
					<div class="zflist_word">
						<div>本地钱包完成支付</div>
						<div>本地钱包可享受更多折扣 <span>购物后即享优惠</span></div>
					</div>
					<div class="zfnums"></div>
				</div>
				<div class="zflist">
					<div class="zfhead">
						<img src="../../static/img/zhc-img/images/zfa_17.png" alt="" />
					</div>
					<div class="zflist_word">
						<div>货到付款</div>
						<div>收货时完成付款<span>部分产品加收配送费用 </span></div>
					</div>
					<div class="zfnums"></div>
				</div>
			</div>
		</main>
	</body>
</html>
<script>
	$("header img").on("touchend",function(){
   		window.history.back();
   })
</script>