<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>passper</title>
	</head>
	<script src="../../static/js/common.js"></script>
	<script src="../../static/js/jquery.js"></script>
	<script src="../../static/js/zhc-passper.js"></script>
	<link rel="stylesheet" href="../../static/css/common.css" />
	<link rel="stylesheet" href="../../static/css/zhc-passper.css" />
	<body>
		<header>
			<img src="../../static/img/zhc-img/images/fitelbtn_02.png" alt="" />
			<img src="../../static/img/zhc-img/images/pass_03.png" alt="" />
			<span></span>
		</header>
		<section class="zhc-img">
			<img src="../../static/img/zhc-img/images/passzh_03.png" alt="" />
			<p>6217 **** **** **** 8888</p>
		</section>
		<section class="pass-num">86.00</section>
		
		
		<div class='mi'>
			<form>
				<input type='password' name='pass1' class='pass1'/>
				<input type='password' name='pass2' class='pass2'>
				<input type='password' name='pass3' class='pass2'>
				<input type='password' name='pass1' class='pass1'>
				<input type='password' name='pass1' class='pass1'>
				<input type='password' name='pass1' class='pass1'>
			</form>
			<div class="line">
				<div class='color'></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>	
			</div>	
		</div>
		
		
	</div>
	</body>
</html>
<script>
	$("header img").first().on("touchend",function(){
   		window.history.back();
   })
</script>