<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
	</head>
	<script src="../../static/js/common.js"></script>
	<script src="../../static/js/jquery.js"></script>
	<link rel="stylesheet" href="../../static/css/common.css" />
	<link rel="stylesheet" href="../../static/css/zhc-card.css" />
	<body>
		<header>
			<img src="../../static/img/zhc-img/images/fitelbtn_02.png" alt="" />
			<img src="../../static/img/zhc-img/images/fitelbtn_04.png" alt="" />
		</header>
		<main>
			<section class="card-select">
				<div class="card-box">
					<div class="active">储蓄</div>
					<div>信用</div>
				</div>
				<div class="card-num">05</div>
			</section>
			<section class="card-tiao"></section>
			<section class="card-queren">89.00</section>
			<section class="card-title"></section>
			<ul class="card-list">
				<li class="card-lists">
					<a href="zhc-passper.html">
						<img src="../../static/img/zhc-img/images/jianshe_07.png" alt="" />
						<p>6217 **** **** **** 0357</p>
					</a>
				</li>
				<li class="card-lists">
					<a href="">
						<img src="../../static/img/zhc-img/images/yinghang_10.png" alt="" />
						<p>6217 **** **** **** 0357</p>
					</a>
					
				</li>
				<li class="card-lists">
					<a href="">
						<img src="../../static/img/zhc-img/images/yinghang_12.png" alt="" />
						<p>6217 **** **** **** 0357</p>
					</a>
					
				</li>
				<li class="card-lists">
					<a href="">
						<img src="../../static/img/zhc-img/images/yinghang_14.png" alt="" />
						<p>6217 **** **** **** 0357</p>
					</a>
				</li>
				<li class="card-list-tiao"></li>
				<li class="card-lists">
					<a href="">
						<img src="../../static/img/zhc-img/images/yinghang_21.png" alt="" />
						<p>6217 **** **** **** 0357</p>
					</a>
				</li>
			</ul>
		</main>
	</body>
</html>
<script>
	$("header img").first().on("touchend",function(){
   		window.history.back();
   })
</script>